In [12]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans,DBSCAN, AgglomerativeClustering
from sklearn.metrics.cluster import silhouette_score

In [2]:
features=pd.read_csv(r'C:\Users\Asus\PredictingRatings\data\features_corr.csv')
features.head()

,0,1,3,10,11,12,13,14,17,18,...,213,214,215,216,217,219,220,221,222,223
0,0.5,19.0,3.0,698.63,-26.0,70.0,20.736842,21.0,1.0,35.0,...,1.0,1.0,1.0,1.0,6.0,1.0,2.0,0.0,0.0,0.0
1,0.0,53.0,18.0,5226398.31,-10866.0,69.0,-721.301887,66.0,18.0,-10866.0,...,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,0.0,0.0
2,1.0,39.0,31.0,2654.84,-27.0,198.0,43.435897,34.0,-11.0,196.0,...,1.0,0.0,0.0,1.0,4.0,0.0,1.0,1.0,0.0,0.0
3,1.0,25.0,18.0,98134.08,10.0,875.0,293.520000,140.0,18.0,875.0,...,0.0,1.0,1.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0
4,0.5,29.0,18.0,617.32,-12.0,94.0,29.448276,24.0,29.0,-7.0,...,0.0,0.0,1.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0

In [4]:
elos=pd.read_csv(r'C:\Users\Asus\PredictingRatings\data\clean_elos.csv')
elos.head()

   WhiteElo  BlackElo  MeanElos  DiffElos  SumElos
0      2354      2411      2382       -57     4765
1      1915      1999      1957       -84     3914
2      2446      2191      2318       255     4637
3      2168      2075      2121        93     4243
4      2437      2254      2345       183     4691

In [8]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(elos)
y_kmeans = kmeans.predict(elos)

In [10]:
len(y_kmeans),y_kmeans

(24255, array([3, 0, 1, ..., 3, 1, 0]))

In [13]:
silhouette_kmeans = silhouette_score(elos,y_kmeans)
silhouette_kmeans

0.38205656052309145