In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans,DBSCAN
from sklearn.metrics.cluster import silhouette_score
import pickle

In [2]:
features=pd.read_csv(r'C:\Users\Asus\PredictingRatings\data\features_corr.csv')
#features=pd.read_csv(r'C:\Users\vznam\Downloads\PredictingRatings-master\data\features_corr.csv')
features.head()

,0,1,3,10,11,12,13,14,17,18,...,213,214,215,216,217,219,220,221,222,223
0,0.5,19.0,3.0,698.63,-26.0,70.0,20.736842,21.0,1.0,35.0,...,1.0,1.0,1.0,1.0,6.0,1.0,2.0,0.0,0.0,0.0
1,0.0,53.0,18.0,5226398.31,-10866.0,69.0,-721.301887,66.0,18.0,-10866.0,...,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0,0.0,0.0
2,1.0,39.0,31.0,2654.84,-27.0,198.0,43.435897,34.0,-11.0,196.0,...,1.0,0.0,0.0,1.0,4.0,0.0,1.0,1.0,0.0,0.0
3,1.0,25.0,18.0,98134.08,10.0,875.0,293.520000,140.0,18.0,875.0,...,0.0,1.0,1.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0
4,0.5,29.0,18.0,617.32,-12.0,94.0,29.448276,24.0,29.0,-7.0,...,0.0,0.0,1.0,0.0,5.0,0.0,1.0,0.0,0.0,0.0

In [3]:
elos=pd.read_csv(r'C:\Users\Asus\PredictingRatings\data\clean_elos.csv')
#elos=pd.read_csv(r'C:\Users\vznam\Downloads\PredictingRatings-master\data\clean_elos.csv')
elos.head()

   WhiteElo  BlackElo  MeanElos  DiffElos  SumElos
0      2354      2411      2382       -57     4765
1      1915      1999      1957       -84     3914
2      2446      2191      2318       255     4637
3      2168      2075      2121        93     4243
4      2437      2254      2345       183     4691

In [31]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(features)
y_kmeans = kmeans.predict(features)

In [32]:
with open('kmeans.pkl', 'wb') as f:
    pickle.dump(kmeans,f)

In [5]:
kmeans1 = KMeans(n_clusters=4)
kmeans1.fit(elos)
y_kmeans1 = kmeans1.predict(elos)

In [7]:
silhouette_kmeans1 = silhouette_score(elos,y_kmeans1)
silhouette_kmeans1

0.3822265011527394

In [30]:
with open('kmeans1.pkl', 'wb') as f:
    pickle.dump(kmeans1,f)

In [6]:
len(y_kmeans),y_kmeans

(24255, array([0, 2, 0, ..., 0, 0, 0]))

In [5]:
silhouette_kmeans = silhouette_score(features,y_kmeans)
silhouette_kmeans

0.8932492025238834

In [19]:
kmeans1 = KMeans(n_clusters=5)
kmeans1.fit(features)
y_kmeans1 = kmeans1.predict(features)

In [20]:
silhouette_kmeans1 = silhouette_score(features,y_kmeans1)
silhouette_kmeans1

0.880045607689205

In [21]:
kmeans2 = KMeans(n_clusters=6)
kmeans2.fit(features)
y_kmeans2 = kmeans2.predict(features)

In [22]:
silhouette_kmeans2 = silhouette_score(features,y_kmeans2)
silhouette_kmeans2

0.8610049938810798

In [7]:
dbscan = DBSCAN(eps=3, min_samples=2).fit(features)
y_dbscan=dbscan.labels_
y_dbscan,dbscan.core_sample_indices_

(array([-1, -1, -1, ..., -1, -1, -1], dtype=int64), array([], dtype=int64))

### Не очень вышел dbscan, кластеризуем признаки по kmeans

In [8]:
elos['Class'] = y_kmeans1
elos.head()

   WhiteElo  BlackElo  MeanElos  DiffElos  SumElos  Class
0      2354      2411      2382       -57     4765      0
1      1915      1999      1957       -84     3914      3
2      2446      2191      2318       255     4637      2
3      2168      2075      2121        93     4243      2
4      2437      2254      2345       183     4691      2

In [9]:
elos_1=elos[elos['Class']==0]
elos_1.shape

(8251, 6)

In [11]:
elos_2=elos[elos['Class']==1]
elos_2.shape

(5808, 7)

In [12]:
elos_3=elos[elos['Class']==2]
elos_3.shape

(5952, 7)

In [13]:
elos_4=elos[elos['Class']==3]
elos_4.shape

(4244, 7)

In [14]:
elos_1.shape[0]+elos_2.shape[0]+elos_3.shape[0]+elos_4.shape[0]

24255

In [15]:
elos_1.to_csv(r'C:\Users\Asus\PredictingRatings\data\elos1.csv',sep=',',index=False)
elos_2.to_csv(r'C:\Users\Asus\PredictingRatings\data\elos2.csv',sep=',',index=False)
elos_3.to_csv(r'C:\Users\Asus\PredictingRatings\data\elos3.csv',sep=',',index=False)
elos_4.to_csv(r'C:\Users\Asus\PredictingRatings\data\elos4.csv',sep=',',index=False)

In [16]:
features_1=features[features.index.isin(elos_1.index)]
features_1.shape

(8251, 126)

In [17]:
features_2=features[features.index.isin(elos_2.index)]
features_3=features[features.index.isin(elos_3.index)]
features_4=features[features.index.isin(elos_4.index)]

In [18]:
features_1.to_csv(r'C:\Users\Asus\PredictingRatings\data\features1.csv',sep=',',index=False)
features_2.to_csv(r'C:\Users\Asus\PredictingRatings\data\features2.csv',sep=',',index=False)
features_3.to_csv(r'C:\Users\Asus\PredictingRatings\data\features3.csv',sep=',',index=False)
features_4.to_csv(r'C:\Users\Asus\PredictingRatings\data\features4.csv',sep=',',index=False)